@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"),
		url("../fonts/Lato-Regular/Lato-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: 400;
	font-display: swap;
}
