$mob-xs: 0px;
$mob-s: 640px;
$tablet-w: 768px;
$desk-w: 960px;
$desk-w-lg: 1200px;

$mainFont: "Lato";
$fontSize: 16px;
$lineHeight: 18px;

$black: #1a1a1a;
$lightBlack: #212121;
$gray: #dcdcdc;
$lightGray: #959595;
$green: #25d083;
$blue: #38b1dc;
$white: #ffffff;
$containerWidth: 1100px;
$containerFullWidth: 1980px;
