<div class="header__mobile">
	<a href="/" class="logo">
		<img src="img/logo.svg" alt="Digitex">
	</a>
	<ul class="mobile-nav">
		<li>
			<a href="" class="icon icon-settings" title="Настройки">
				<svg width="22px" height="22px" class="">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-settings"></use>
				</svg>
			</a>
		</li>
		<li>
			<a href="" class="icon icon-entries" title="Выйти">
				<svg width="22px" height="22px" class="">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-entries"></use>
				</svg>
			</a>
		</li>
		<li>
			<a href="" class="icon icon-burger  js__toggle-offcanvasMenu" title="Меню">

				<svg width="20px" height="20px" class="icon-burger">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-burger"></use>
				</svg>
			</a>
		</li>
	</ul>
	<div class="offcanvas-menu">
		<ul class="mobile-menu">
			{% for item in navLinks %}
				{% if loop.index == 5 %}
					<li class="active">
						<a href="">{{item}}</a>
					</li>
				{% else %}
					<li>
						<a href="">{{item}}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<div class="balance">
			<div class="balance__label">Your Balance:</div>
			<div class="balance__value">
				<div class="balance__amount">20,000</div>
				<div class="balance__currency">dgtx</div>
			</div>
		</div>

	</div>
</div>
